@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

*, html, body {
    margin: 0px;
    padding: 0px;
}

body {
	background-color: rgb(0, 0, 0);
}

a, div, h1, h2, h3, h4, h5, h6, p  {
	font-family: 'VT323', monospace;
}

a {
	text-decoration: none;
	color: rgb(212, 241, 179);
}

a:hover {
	text-decoration: line-through;
}

/* .prose :is(h2, h3, h4, h5, h6) {
	margin-top: var(--size-8);
	margin-bottom: var(--size-3);
}

.prose p:not(:is(h2, h3, h4, h5, h6) + p) {
	margin-top: var(--size-7);
}

.prose :is(ul, ol) {
	list-style-type: '🔥';
	padding-left: var(--size-5);
}

.prose :is(ul, ol) li {
	margin-block: var(--size-2);
	padding-inline-start: var(--size-2);
}

.prose pre {
	max-inline-size: 100%;
	padding: 1rem;
	border-radius: 8px;
	tab-size: 2;
} */

.prose h2 {
	margin-top: 32px;
    font-size: 64px;
	font-weight: 350;
	text-align: justify;
	color: white;
}

.prose p {
	width: 100%;
	margin-top: 5px;
	font-size: 24px;
	text-align: justify;
	color: rgb(212, 241, 179);
}

.prose pre {
	margin-top: 10px;
}

@media (max-width: 480px) {

	.prose h2 {
		margin-top: 32px;
		font-size: 40px;
		font-weight: 350;
		color: white;
	}

	.prose p {
		width: 100%;
		font-size: 20px;
	}

}